.hero {
  align-items: center;
  display: flex;
  height:100vh;
  background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=931&q=80) no-repeat center, rgba(255, 227, 227, 0.1);
  background-size:cover;
  background-blend-mode: multiply;
  &__title{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow:1px 1px #333;
  }
  &__button{
    background: $red;
    border: 1px solid rgb(255, 72, 59);
    &:hover{
      border: 1px solid white;
      opacity: 0.9;
    }
  }
  &__block{
  }
}
